<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vikydroid.demo">

    <uses-permission android:name="com.google.android.things.permission.USE_PERIPHERAL_IO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!--  -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:required="false" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".learning2.security.BioMetricActivity"></activity>
        <!-- Lerning2 -->
        <activity android:name=".learning2.service.ServiceActivity" />
        <activity android:name=".learning2.LearningActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".learning.service.broacastreceiver.BRActivity" />
        <activity android:name=".learning.vpn.uart.SocketActivity" />
        <activity android:name=".ui.activity.MainActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name=".learning.vpn.uart.UartActivity" />
        <activity android:name=".learning.vpn.VPNActivity" />
        <activity android:name=".learning.vpn.ToyVpnClient" />
        <activity android:name=".learning.workmanager.WorkMangerActivity" />
        <activity android:name=".learning.service.bind.BinderServiceActivity" />
        <activity android:name=".learning.coroutines.FlowActivity" />
        <activity android:name=".learning.coroutines.JobActivity" />
        <activity
            android:name=".learning.coroutines.CoroutinesActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".learning.dag.DagActivity" />
        <activity android:name=".learning.jobscheduler.JobServiceActivity" />
        <activity android:name=".learning.service.intentservice.IntentServiceActivity" />
        <activity android:name=".learning.service.startservice.ServiceActivity" />
        <activity android:name=".learning.weakreference.AsyncWithWRActivity" />
        <activity android:name=".learning.handlerlooper.HandlerThreadDefaultActivity" />
        <activity android:name=".learning.handlerlooper.HandlerThreadActivity" />
        <activity android:name=".learning.multithreading.MultiThreadActivity" />

        <service
            android:name=".learning.service.intentservice.MyIntentService"
            android:exported="false" />
        <service android:name=".learning.service.startservice.MyService" />
        <service android:name=".learning.service.bind.MyBinderService" />
        <service
            android:name=".learning.service.intentservice.MyJobIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".learning.jobscheduler.MyJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" /> <!-- Learning 2 -->
        <service
            android:name=".learning.vpn.ToyVpnService"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>

        <receiver android:name=".learning.service.broacastreceiver.SMSBroadcastsReceiver" />

        <uses-library
            android:name="com.google.android.things"
            android:required="false"
            tools:replace="android:required" /> <!-- Learning 2 -->
        <service android:name=".learning2.service.MyService" />
    </application>

</manifest>